ln -s /soft/nexus/bin/nexus /etc/init.d/nexus
chkconfig --add nexus
chkconfig --levels 345 nexus on


[Unit]
Description=nexus
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
User=nexus
Group=nexus
ExecStart=/www/server/nexus/bin/nexus start
ExecReload=/www/server/nexus/bin/nexus restart
ExecStop=/www/server/nexus/bin/nexus stop
Restart=always
PrivateTmp=true
TimeoutStopSec=0
[Install]
WantedBy=multi-user.target
