# /etc/systemd/system/multi-user.target.wants/nginx.service
[Unit]
Description=nginx
After=network.target

[Service]
Type=forking
ExecStart=/www/server/openresty/nginx/sbin/nginx
ExecReload=/www/server/openresty/nginx/sbin/nginx -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
